<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="club_home.css">
</head>
<body>
    <div class="timeline"> 

        <div class="container left-container"> 
            <img src="C:\Users\saket\OneDrive\Desktop\College-collab-main-saket\src\components\left.jpeg" alt="Image cant upload">
            <div class="text-box">  
                <h2>CODEDECODE</h2>
                <small>2018-2019</small>
                <p>Hello Everyone, This clubs belongs to dypiu, under yhre inernational branch, for joining this club go here , for more info contact us on mail or given whasts app.</p>
                <span class ="left-container-arrow"></span>
            </div> 
        </div>   

        <div class="container right-container"> 
            <img src="C:\Users\saket\OneDrive\Desktop\College-collab-main-saket\public\right.png" alt="Image cant upload">
            <div class="text-box">  
                <h2>CODEDECODE</h2>
                <small>2018-2019</small>
                <p>Hello Everyone, This clubs belongs to dypiu, under yhre inernational branch, for joining this club go here , for more info contact us on mail or given whasts app.</p>
                <span class ="right-container-arrow"></span>
            </div> 
        </div> 
        
        <div class="container left-container"> 
            <img src="C:\Users\saket\OneDrive\Desktop\College-collab-main-saket\src\components\left.jpeg" alt="Image cant upload">
            <div class="text-box">  
                <h2>CODEDECODE</h2>
                <small>2018-2019</small>
                <p>Hello Everyone, This clubs belongs to dypiu, under yhre inernational branch, for joining this club go here , for more info contact us on mail or given whasts app.</p>
                <span class ="left-container-arrow"></span>
            </div> 
        </div>   

        <div class="container right-container"> 
            <img src="C:\Users\saket\OneDrive\Desktop\College-collab-main-saket\public\right.png" alt="Image cant upload">
            <div class="text-box">  
                <h2>CODEDECODE</h2>
                <small>2018-2019</small>
                <p>Hello Everyone, This clubs belongs to dypiu, under yhre inernational branch, for joining this club go here , for more info contact us on mail or given whasts app.</p>
                <span class ="right-container-arrow"></span>
            </div> 
        </div> 

        <div class="container left-container"> 
            <img src="C:\Users\saket\OneDrive\Desktop\College-collab-main-saket\src\components\left.jpeg" alt="Image cant upload">
            <div class="text-box">  
                <h2>CODEDECODE</h2>
                <small>2018-2019</small>
                <p>Hello Everyone, This clubs belongs to dypiu, under yhre inernational branch, for joining this club go here , for more info contact us on mail or given whasts app.</p>
                <span class ="left-container-arrow"></span>
            </div> 
        </div>   

        <div class="container right-container"> 
            <img src="C:\Users\saket\OneDrive\Desktop\College-collab-main-saket\public\right.png" alt="Image cant upload">
            <div class="text-box">  
                <h2>CODEDECODE</h2>
                <small>2018-2019</small>
                <p>Hello Everyone, This clubs belongs to dypiu, under yhre inernational branch, for joining this club go here , for more info contact us on mail or given whasts app.</p>
                <span class ="right-container-arrow"></span>
            </div> 
        </div> 


        <div class="container left-container"> 
            <img src="C:\Users\saket\OneDrive\Desktop\College-collab-main-saket\src\components\left.jpeg" alt="Image cant upload">
            <div class="text-box">  
                <h2>CODEDECODE</h2>
                <small>2018-2019</small>
                <p>Hello Everyone, This clubs belongs to dypiu, under yhre inernational branch, for joining this club go here , for more info contact us on mail or given whasts app.</p>
                <span class ="left-container-arrow"></span>
            </div> 
        </div>   

        <div class="container right-container"> 
            <img src="C:\Users\saket\OneDrive\Desktop\College-collab-main-saket\public\right.png" alt="Image cant upload">
            <div class="text-box">  
                <h2>CODEDECODE</h2>
                <small>2018-2019</small>
                <p>Hello Everyone, This clubs belongs to dypiu, under yhre inernational branch, for joining this club go here , for more info contact us on mail or given whasts app.</p>
                <span class ="right-container-arrow"></span>
            </div> 
        </div> 
        
    </div>
</body>
</html>